Test/obj/Debug/Test.csprojResolveAssemblyReference.cache
Test/obj/Debug/Test.csproj.FileListAbsolute.txt
Test/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Test/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Test/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Test/obj/Debug/Editor.pdb
Test/obj/Debug/Editor.exe
Test/obj/Debug/Editor.csprojResolveAssemblyReference.cache
Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Test/bin/Debug/Assets/Fonts/default.txt
Test/bin/Debug/Assets/Shaders/fLighting.frag
Test/bin/Debug/Assets/Shaders/vPassThrough.vert
Test/bin/Debug/Assets/Textures/button.png
Test/bin/Debug/Assets/Textures/tileset.png
Test/bin/Debug/Assets/Textures/wall.jpg
Test/bin/Debug/Editor.exe.config
Test/bin/Debug/Editor.pdb
Test/bin/Debug/Editor.vshost.exe.config
Test/bin/Debug/Editor.vshost.exe.manifest
Test/bin/Debug/OpenTK.dll
Test/bin/Debug/OpenTkEngine.dll
Test/bin/Debug/OpenTkEngine.pdb
Test/bin/Debug/Editor.vshost.exe
Test/obj/Debug/Editor.csproj.FileListAbsolute.txt
Test/bin/Debug/Assets/Textures/wall-blue.png
Test/bin/Debug/Assets/Textures/defaultfont.png
Test/bin/Debug/Assets/Textures/wall-red.png
packages/OpenTkEngine.dll.config
packages/OpenTkEngine.pdb
packages/OpenTK.1.1.1456.5398/OpenTK.1.1.1456.5398.nupkg
packages/OpenTK.1.1.1456.5398/lib/NET40/OpenTK.dll
OpenTkEngine/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
OpenTkEngine/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
OpenTkEngine/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
OpenTkEngine/obj/Debug/OpenTkEngine.pdb
OpenTkEngine/obj/Debug/OpenTkEngine.dll
OpenTkEngine/obj/Debug/OpenTkEngine.csprojResolveAssemblyReference.cache
OpenTkEngine/obj/Debug/OpenTkEngine.csproj.FileListAbsolute.txt
OpenTkEngine/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
OpenTkEngine/bin/Debug/OpenTkEngine.pdb
OpenTkEngine/bin/Debug/OpenTkEngine.dll.config
OpenTkEngine/bin/Debug/OpenTkEngine.dll
OpenTkEngine/bin/Debug/OpenTK.dll
OpenTkEngine/bin/Debug/Assets/Textures/wall.jpg
OpenTkEngine/bin/Debug/Assets/Textures/wall-red.png
OpenTkEngine/bin/Debug/Assets/Textures/wall-blue.png
OpenTkEngine/bin/Debug/Assets/Textures/tileset.png
OpenTkEngine/bin/Debug/Assets/Textures/defaultfont.png
OpenTkEngine/bin/Debug/Assets/Textures/button.png
OpenTkEngine/bin/Debug/Assets/Shaders/vPassThrough.vert
OpenTkEngine/bin/Debug/Assets/Shaders/fLighting.frag
OpenTkEngine/bin/Debug/Assets/Fonts/default.txt